<div {{did-insert this.getChatData}}>
  <div class="abdul">
  {{#each this.local.chatData as |data|}}
    {{#if data.isMyMessage}}
      <div class="myMessage">
        <p>{{data.message}}</p>
      </div>
    {{else}}
      <div class="allMessages">
        <h6>{{data.username}}</h6>
        <p>{{data.message}}</p>
      </div>
    {{/if}}
  {{/each}}
  </div>
  <div class="input_box">
    <Input @value={{this.currentMessage}} placeholder="Type your message."/>
    <button {{on "click" this.addMessage}}>Send</button>
  </div>
</div>

{{yield}}